<details class="role-container">
<summary>
  <h2>3D Character Artist</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Has experience creating character models
- Familiar with texturing software such as Photoshop, 3D Coat, Substance Painter, and Substance Designer
- Has experience authoring Non-PBR hand painted materials within the TF2 Art style and has interacted with the TF2's Shaders
- Has extensive experience with Blender
    - High-Poly and Low-Poly Modeling
    - Sculpting
    - Retopology
    - Hard Surface Modeling
    - Organic Modeling
    - Creating game ready UV maps
    - Creating Blendshapes/Shapekeys/Facial flexes
    - Setting up meshes for baking
- Familiar with importing 3D models and materials to Source 1
- Has a deep understanding with asset optimization within Source 1
	- Level of detail with meshes and textures
	- Reducing drawcalls
	- Working under set limits with mesh and textures
- Familiar working with version control software such as Git and Github
- Able to appropriately name and place assets in the correct directories
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
