<details class="role-container">
<summary>
  <h2>3D Concept Artist</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Knowledgeable on Character Design
    - Distinct silhouette/shape language
    - Appropriate Scaling
    - Proper detailing
        - Not overly detailed/noisy
        - Has visual interest
    - Design can be transferred to 3D
        - Model sheet lines up with design
        - Design isn’t abstract
            - No needlessly small details/hard to see
            - Ideas are properly communicated
- Character Art
- Weapon/Item Art
- Familiar working with version control software such as Git and Github
- Able to appropriately name and place assets in the correct directories
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
