<details class="role-container">
<summary>
  <h2>3D Rigging Artist</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Has experience with IK Rigging in Blender or SourceFilmmaker
- Has experience with FK rigging and weight painting for characters, weapons, and animated environment models
- Familiar with Retargeting Rigs
- Familiar with importing 3D models and animations to Source 1
- Familiar working with version control software such as Git and Github
- Able to appropriately name and place assets in the correct directories

## Good to have
- Familiarity with Scripting Languages
    - Blender's Python and Drivers API
    - SourceFilmmaker's Python API
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
