<details class="role-container">
<summary>
	<h2>Environment Artist</h2>
	<hr>
</summary>
<div markdown="1">
## Must have
- Familiar with texturing software such as Photoshop, 3D Coat, Substance Painter, and Substance Designer
- Has experience authoring Non-PBR hand painted materials within the TF2 Art style and has interacted with the Shaders in TF2
	- Has experience creating environment materials for BSP brushes
	- Has experience working with built-in texturing tools for Source 1
		- Valve Texture Tool (VTEX)
		- Height2ssbump
- Has extensive experience with Blender
    - High-Poly and Low-Poly Modeling
    - Sculpting
    - Retopology
    - Hard Surface Modeling
    - Organic Modeling
    - Creating game ready UV maps
    - Creating modular props
- Familiar with importing 3D models and materials to Source 1
- Has a deep understanding with asset and level optimization within Source 1
- Able to appropriately name and place assets in the correct directories, create zoo maps for newly created environment assets, and use `%keywords` for environment materials
- Familiar working with version control software such as Git and Github
- Familiarity in Hammer++ Suite
    - Hammer++
        - VBSP++
        - VVIS++
        - VRAD++
    - HLMV++
- Essential Hammer Skills
    - General
        - Vertex and Clip tool
        - Cordoning
        - Compiling Settings
        - Gridded and resourceful brushwork
        - Object groups
        - Visgroups
        - Instances
    - Optimization
        - Area portals
        - Hint/Skip brushes
        - Knowledge of brush entities, how they effect compiles
            - func_detail
            - func_brush
            - func_lod
    - Visual
        - Texture palette cohesion
        - Models compliment setting
        - Competence in detail scaling
        - Cube maps
        - HDR/SDR

## Good to have
- Familiarity with external map compiling tools
    - CompilePal
    - BSPEntSpy
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
