<details class="role-container">
<summary>
  <h2>Firstperson Weapons Animator</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Has extensive experience animating in Blender or Source Filmmaker
- Has experience creating first person animations for Source 1
- Able to implement animations into the game with QC scripting
- Able to create animations that is consistent with Team Fortress 2's animation style
- Familiar working with version control software such as Git and Github
- Able to appropriately name and place assets in the correct directories
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>