<details class="role-container">
<summary>
  <h2>Game Programmer</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Knowledge of C++
- Knowledge of Visual Studio 2022 or Qt Creator
- Familiarity of Git and GitHub
    - Proper Branch Etiquette
    - Descriptive Commit Messages

## Good to have
- Knowledge of Debugging Crash Dump files
- Familiarity of Source Engine Programming
- Familiarity with GDB
- NPC Programmer (Specialization)
- Knowledge of Source Engine NextBots
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
