<details class="role-container">
<summary>
  <h2>Level Designer</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Familiar with creating levels in Team Fortress 2.
- Managing and applying playtest feedback into levels
- Familiar with Source 1's logic system
- Familiar working with version control software such as Git and Github
- Familiarity in Hammer++ Suite
    - Hammer++
        - VBSP++
        - VVIS++
        - VRAD++
    - HLMV++
- Essential Hammer Skills
    - General
        - Vertex and Clip tool
        - Cordoning
        - Compiling Settings
        - Gridded and resourceful brushwork
        - Object groups
        - Visgroups
        - Instances
    - Gameplay
        - Familiarity with All Game Entities
        - Understands Inputs and Outputs in Entity Logic
        - Competence in Scaling and Perspective
        - Sniper Sightlines
        - Grenade Spam
        - Chokepoints
    - Optimization
        - Prep for Area Portals
        - Prep for Brushwork
        - Prep for Hint and Skip Brushes
        - Knowledge of brush entities, how they effect compiles
            - func_detail
            - func_brush
            - func_lod
    - Visual
        - Familiarity with Environment Detailing Workflow
        - Texture palette cohesion
        - Cube maps
        - HDR/SDR

## Good to have
- Familiarity with external map compiling tools
    - CompilePal
    - BSPEntSpy
- Familiarity with VScript
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
