<details class="role-container">
<summary>
  <h2>3D Particle Artist</h2>
  <hr>
</summary>
<div markdown="1">
## Must have
- Has extensive experience working with the Source 1's tools
	- Particle Editor
	- Valve Texture Tool (VTEX)
	- MKSheet tool
- Has experience authoring stylized particle sprites within the TF2 Art style
- Create and implement static or animated particle sprite textures in Source 1
- Has a deep understanding with particle and texture optimization
	- Particle counts and collision
	- Texture compression and packing
	- Overdraw
	- Shader features and their performance costs
- Flexibility and understanding with Particle Functions packaged with Source SDK 2013 and TF2
- Able to create visually clear and distinct particles that fits within the Team Fortress 2 style
- Familiar working with version control software such as Git and Github
- Able to appropriately name and place assets in the correct directories
</div>
<hr>
<h2>
  <a href="{{site.devapplication}}">Apply</a>
</h2>
</details>
